
$cursor :#D0B6C5;
$background:#0D1012;
$foreground :#E6F4F2;
$background-hover :#37383B;
$color1  :#388192;
$color2  :#BA7898;
$color3  :#C0936D;
$color4  :#99AAF2;
$color5  :#B6CA54;
$color6  :#B7DFDB;
$color7  :#D3E7E5;
$background-hover-light  :#93A1A0;
$color9  :#388192;
$color10 :#BA7898;
$color11 :#C0936D;
$color12 :#99AAF2;
$color13 :#B6CA54;
$color14 :#B7DFDB;
$color15 :#D3E7E5;
