
$cursor :#C5A19B;
$background:#2C282A;
$foreground :#ECF2E6;
$background-hover :#524D50;
$color1  :#425F83;
$color2  :#9E5050;
$color3  :#7B7257;
$color4  :#6B9EAA;
$color5  :#D4B3C2;
$color6  :#C8DAB7;
$color7  :#DBE4D2;
$background-hover-light  :#99A093;
$color9  :#425F83;
$color10 :#9E5050;
$color11 :#7B7257;
$color12 :#6B9EAA;
$color13 :#D4B3C2;
$color14 :#C8DAB7;
$color15 :#DBE4D2;
