
$cursor :#C6C3F4;
$background:#1D1C19;
$foreground :#FFF4FE;
$background-hover :#44423F;
$color1  :#7A5F58;
$color2  :#8E93E9;
$color3  :#EF7A76;
$color4  :#1DCFFA;
$color5  :#D4C1A7;
$color6  :#FEDFFD;
$color7  :#F6E7F6;
$background-hover-light  :#ACA1AC;
$color9  :#7A5F58;
$color10 :#8E93E9;
$color11 :#EF7A76;
$color12 :#1DCFFA;
$color13 :#D4C1A7;
$color14 :#FEDFFD;
$color15 :#F6E7F6;
