
.bar {
    background-color: transparent;
}
.workspaces {
    background-color: black; // background for the whole bar
    border-radius: 9999px;
    padding: 3px;
  
    button.workspace {
      background-color: black;
      color: white;
      padding: 6px 12px;
      border: none;
      box-shadow: none;
      border-radius: 0; // default, overridden for first/last
  
      // Make the first and last buttons rounded to form a pill shape
      &:first-child {
        border-top-left-radius: 9999px;
        border-bottom-left-radius: 9999px;
      }
  
      &:last-child {
        border-top-right-radius: 9999px;
        border-bottom-right-radius: 9999px;
      }
  
      // Hover style
      &:hover {
        background-color: #506e92;
        color: white;
      }
  
      &.focused {
        background-color: #5e81ac;
        color: white;
        border-radius: 20px;
      }
    }
  }
  