/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #34302DFF;
    background-alt: rgb(29, 26, 24);
    foreground:     #F5E7DEFF;
    selected:       rgb(163, 88, 65);
    active:         #BF8F60FF;
    urgent:         #B23636FF;
}
